.GameSpace {
    height: 4vw;
    width: 4vw;
    font-size: xx-small;
}

.Topic1 {
    border-style: solid;
    border-color: red;
    border-width: 1vw;
    background-color: red;
}

.CakeSpace1 {
    border-style: solid;
    border-color: red;
    border-width: 1vw;
    background-color: ghostwhite;
}

.Topic2 {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1vw;
    background-color: whitesmoke;
}

.CakeSpace2 {
    border-style: solid;
    border-color: lightgray;
    border-width: 1vw;
    background-color: ghostwhite;
}

.Topic3 {
    border-style: solid;
    border-color: blue;
    border-width: 1vw;
    background-color: blue;
}

.CakeSpace3 {
    border-style: solid;
    border-color: blue;
    border-width: 1vw;
    background-color: ghostwhite;
}

.Topic4 {
    border-style: solid;
    border-color: green;
    border-width: 1vw;
    background-color: green;
}

.CakeSpace4 {
    border-style: solid;
    border-color: green;
    border-width: 1vw;
    background-color: ghostwhite;
}

.RollAgain {
    border-style: solid;
    border-color: lightgray;
    border-width: 1vw;
    background-color: lightgray;
}

.Start {
    border-style: solid;
    border-color: indigo;
    border-width: 1vw;
    background-color: ghostwhite;
}

.NegativeSpace {
    border-style: solid;
    border-color: darkslategray;
    border-width: 1vw;
    background-color: darkslategray;
}
